{% extends "base.html" %}

{% block main %}
<section role="main" class="body-section" ng-controller="BoooksSearchController as search">

  <div class="stack">
    <div class="row filter-feature">
      <div class="small-12 centered columns">

        <h2 class="intro">What do you want to read next?</h2>

        <form id="nl-form" class="nl-form">
                    I'm looking for
          <select ng-model="search.filterKind">
            <option value="popular">popular</option>
            <option value="award-winning">award-winning</option>
            <option value="new">new</option>
            <option value="classic">classic</option>
          </select>
                    books about
          <select ng-model="search.filterAbout">
            <option value="art-and-design">art & design</option>
            <option value="technology">technology</option>
            <option value="environment">environment</option>
            <option value="gastronomy">gastronomy</option>
            <option value="science">science</option>
            <option value="history">history</option>
            <option value="music">music</option>
          </select>
          <br />
                    under
          <select ng-model="search.filterMaxPrice">
            <option value="5">$5</option>
            <option value="1">$1</option>
            <option value="3">$3</option>
              <option value="10">$10</option>
              <option value="20">$20</option>
              <option value="30">$30</option>
          </select>
                    for a
          <select ng-model="search.filterMaxMinutes">
            <option value="120" selected>2 hours</option>
            <option value="180">3 hours</option>
            <option value="300">5 hours</option>
            <option value="600">10 hours</option>
            <option value="900">15 hours</option>
          </select>
                    reading.
        </form>


      </div>
    </div>
    <div class="row">
      {% raw %}
      <div class="small-12 columns">
        <!-- modal -->
        <div id="myModal" class="reveal-modal" data-reveal ng-if="search.currentBook">

          <div class="row book-details">
            <div class="small-12 large-4 columns">

              <img src="{{ search.currentBook.images.large }}" />

            </div>
            <div class="small-12 large-7 columns">
              <a class="close-reveal-modal">&#215;</a>
              <div class="book-meta">
                <h3>{{ search.currentBook.title }}</h3>
                <h4 class="author">by {{ search.currentBook.author }} </h4>
              </div>

              <ul class="inline-list avatars">
                <li><img src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/48.jpg" /></li>
                <li><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/48.jpg" /></li>
                <li><img src="https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/48.jpg" /></li>
                <li><img src="https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/48.jpg" /></li>
                <li><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/48.jpg" /></li>
                <li><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrjohnwalker/48.jpg" /></li>
                <li><img src="https://s3.amazonaws.com/uifaces/faces/twitter/dakshbhagya/48.jpg" /></li>
                <li><img src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/48.jpg" /></li>
              </ul>
              <p class="goodreads"><a href="#"><img src="/static/images/goodreads.png" class="goodreads-button" /></a> <span>to see what your friends are reading.</span></p>

              <p class="book-description" ng-bind-html="search.currentBook.review"><a href="#">read more...</a></p>
              <a ng-href="{{ search.currentBook.url }}" class="button expand round circle">{{ search.currentBook.lowest_new_price_amount}} on Amazon</a>
            </div>
          </div>
          <div class="row similar-books">
            <div class="small-12 columns">
              <h6 class="discret-title"> Similar books</h6>
              <ul class="shelf small-block-grid-2 medium-block-grid-4 large-block-grid-6">
                <li class="book"><img src="/static/images/13.jpg" class="th" /></li><li class="book"><img src="/static/images/14.jpg" class="th" /></li><li class="book"><img src="/static/images/12.jpg" class="th" /></li><li class="book"><img src="/static/images/17.jpg" class="th"/></li><li class="book"><img src="/static/images/33.jpeg" class="th"/></li><li class="book"><img src="/static/images/35.jpeg" class="th"/></li>
              </ul>
            </div>
          </div>
        </div>

        <img src="/static/img/loader.git" ng-hide="search.books" />

        <ul class="shelf small-block-grid-2 medium-block-grid-4 large-block-grid-6" ng-show="search.books">
          <li ng-repeat="book in search.books" class="book"><a href ng-click="search.showModal(book)"><img src="{{ book.images.medium }}" class="th" /></a></li>
        </ul>
      </div>
      {% endraw %}
    </div>
  </div>
</section>
{% endblock %}
