{% extends "base.html" %}
{% block main %}
    <section role="main" class="body-section">

        <div class="stack">
            <div class="row filter-feature">
                <div class="small-12 centered columns">

                   <h3>Reading lists</h3>

                </div>
             </div>
            <div class="row">
                <div class="small-12 medium-2 columns">
                    <div class="list-meta">
                        <h5>33 Books to open your mind</h5>
                        <h4 class="author">by Maria Popova</h4>
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/48.jpg" class="avatar-author"/>
                    </div>
                </div>
                <div class="small-10 columns">
                    <ul class="shelf small-block-grid-2 medium-block-grid-4 large-block-grid-6">
                        <li class="book"><a href="" data-reveal-id="myModal"><img src="/static/images/21.jpg" class="th" /></a></li><li class="book"><img src="/static/images/22.jpeg" class="th" /></li><li class="book"><img src="/static/images/23.jpeg" class="th" /></li><li class="book"><img src="/static/images/24.jpeg" class="th"/></li><li class="book"><img src="/static/images/25.jpeg" class="th"/></li><li class="book"><img src="/static/images/26.jpeg" class="th"/></li>
                    </ul>
                </div>
                 <hr />
            </div>
             <div class="row">
                <div class="small-12 medium-2 columns">
                    <div class="list-meta">
                        <h5>10 Books on How to Live</h5>
                        <h4 class="author">by Gabriel Falcão</h4>
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/48.jpg" class="avatar-author"/>
                    </div>
                </div>
                <div class="small-10 columns">
                    <ul class="shelf small-block-grid-2 medium-block-grid-4 large-block-grid-6">
                        <li class="book"><a href="" data-reveal-id="myModal"><img src="/static/images/27.jpeg" class="th" /></a></li><li class="book"><img src="/static/images/28.jpeg" class="th" /></li><li class="book"><img src="/static/images/29.jpeg" class="th" /></li><li class="book"><img src="/static/images/30.jpeg" class="th"/></li><li class="book"><img src="/static/images/32.jpg" class="th"/></li><li class="book"><img src="/static/images/31.jpg" class="th"/></li>
                    </ul>
                </div>
                 <hr />
            </div>
           <div class="row">
                <div class="small-12 medium-2 columns">
                    <div class="list-meta">
                        <h5>Design Foundations</h5>
                        <h4 class="author">by André Cardoso</h4>
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/holdenweb/73.jpg" class="avatar-author"/>
                    </div>
                </div>
                <div class="small-12 medium-10 columns">
                    <ul class="shelf small-block-grid-2 medium-block-grid-4 large-block-grid-6">
                        <li class="book"><img src="/static/images/01.jpg" class="th" /></li><li class="book"><img src="/static/images/11.jpg" class="th" /></li><li class="book"><img src="/static/images/07.jpg" class="th" /></li><li class="book"><img src="/static/images/09.jpg" class="th"/></li><li class="book"><img src="/static/images/34.jpeg" class="th"/></li><li class="book"><img src="/static/images/05.jpg" class="th"/></li>
                    </ul>
                </div>
                 <hr />
            </div>
        </div>
    </section>
{% endblock %}